@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
  font-size: 11px;
  min-height: 10px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @foreground;
}

tooltip {
  border-radius: 20px;
  border-width: 0px;
  background: @background;
}

#workspaces button {
  color: @color14;
  background-color: @background;
  border-radius: 20px;
}

#workspaces button.active {
  color: @color15;
}

#workspaces button.focused {
  border-radius: 50px;
  color: @foreground;
  background: @background;
}

#workspaces button.urgent {
  color: @foreground;
  background: @background;
}

#workspaces button:hover {
  background: @foreground;
  color: @background;
}

#clock,
#mpris,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#window,
#tray,
#backlight,
#custom-notification {
  background: @background;
  padding: 2px 8px;
  margin: 3px 3px;
  border-radius: 20px;
}

#custom-notification {
  background-color: @background;
  color: @foreground;
  margin-right: 2px;
}

#tray {
  /* border-radius: 20px; */
  margin-right: 5px;

}

#workspaces {
  border-radius: 20px;
  padding: 0 10px;
}

#window {
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#clock {
  padding: 10px;
  color: @color6;
  background-color: @background;
  font-weight: bold;
  font-size: 15px;
}


#mpris {
  color: @foreground;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

#bluetooth {
  color: @foreground;
  border-radius: 20px;
}

#network {
  color: @foreground;
}

#pulseaudio {
  color: @foreground;
}

#pulseaudio.microphone {
  color: @foreground;
}

#battery {
  color: @foreground;
}


.modules-right,
.modules-middle {
  border-radius: 20px;
  margin: 4px;
  background-color: @background;
}


/* #custom-launcher { */
/*   color: @color14; */
/*   background-color: @background; */
/*   border-radius: 0px 20px 0px 0px; */
/*   margin: 0px 0px 0px 0px; */
/*   padding: 0 20px 0 13px; */
/*   font-size: 15px; */
/* } */
/* #custom-launcher button:hover { */
/*   background-color: #fb4934; */
/*   color: transparent; */
/*   border-radius: 8px; */
/*   margin-right: -5px; */
/*   margin-left: 10px; */
/* } */
/**/
/* #custom-hyprpicker { */
/*   border-radius: 20px; */
/*   margin: 5px; */
/*   margin-left: 5px; */
/*   margin-right: 5px; */
/*   padding: 5px; */
/*   font-weight: bold; */
/* } */
/* #cpu { */
/*   color: @foreground; */
/* } */
/**/
/* #memory { */
/*   color: @foreground; */
/* } */
/**/
/* #disk { */
/*   color: @foreground; */
/* } */
/**/
/* #temperature { */
/*   color: @foreground; */
/*   border-radius: 10px; */
/* } */
/**/
/* #temperature.critical { */
/*   color: @foreground; */
/* } */
/**/
