@import "../../.cache/wal/colors-waybar.css";
@define-color cc-bg @background;
@define-color noti-border-color @background;
@define-color noti-bg @background;
@define-color noti-bg-darker @background;
@define-color noti-bg-hover @color1;
@define-color noti-bg-focus @color1;
@define-color text-color @foreground;
@define-color text-color-disabled @background;
@define-color bg-selected @color1;

* {
  font-family: JetBrainsMono NFP;
  font-weight: bold;
  font-size: 14px
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-hover;
  border-radius: 12px;
}



.notification-row {
  outline: none;
  margin: 20px;
  padding: 0;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}



.notification {
  background: transparent;
  margin: 0px;
  padding: 0;
  box-shadow: none;
}

.notification-content {
  background: @cc-bg;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid @color4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* subtle shadow */
  margin: 0;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}



.close-button {
  background: @color4;
  color: @cc-bg;
  text-shadow: none;
  padding: 3px;
  border-radius: 6px;
  margin-top: 5px;
  margin-right: 5px;
  min-width: 24px;
  min-height: 24px;
  transition: background 0.2s ease;
}

.close-button:hover {
  background: @color1;
  color: @cc-bg;
  border: none;
}


.notification-action {
  color: @text-color;
  background: @cc-bg;
  border: 1px solid @color4;
  border-radius: 6px;
  padding: 3px 3px;
  margin: 5px 5px 0 0;
  font-size: 12px;
  min-height: 0;
  min-width: 0;
}

.notification-action:hover {
  background: @color1;
  color: @cc-bg;
  transition: all 0.2s ease-in-out;
}



.summary {
  padding-top: 7px;
  font-size: 13px;
  color: @color4;
}

.time {
  font-size: 11px;
  color: @color4;
  margin-right: 24px
}

.body {
  font-size: 12px;
  color: @color4;
}

.control-center {
  background: @cc-bg;
  border: 2px solid @color4;
  border-radius: 10px;
}

.control-center-list {
  background: transparent
}

.control-center-list-placeholder {
  opacity: .5
}

.floating-notifications {
  background: transparent
}

.blank-window {
  background: alpha(black, 0.1)
}

.widget-title {
  color: @color4;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title>button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title>button:hover {
  background: @color4;
  color: @cc-bg;
}

button.wifi-on {
  background-color: #a6e3a1;
  /* green */
  color: #1e1e2e;
}

button.wifi-off {
  background-color: #f38ba8;
  /* red */
  color: #1e1e2e;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  font-size: large;
  color: @foreground;
}

.widget-dnd>switch {
  border-radius: 20px;
  background: @color4;
}

.widget-dnd>switch:checked {
  background: @color12;
}

.widget-dnd>switch slider {
  background: @cc-bg;
  border-radius: 20px
}

.widget-dnd>switch:checked slider {
  background: @cc-bg;
  border-radius: 20px
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label>label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @noti-bg-darker;
  padding: 5px 10px 0px 0px;
  margin: 5px 10px 5px 10px;
  border-radius: 0px;
}

.widget-mpris>box>button {
  border-radius: 5px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem
}

.widget-mpris-subtitle {
  font-size: 1.1rem
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  background: @noti-bg-darker;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 3px;
  background: @cc-bg;
  border-radius: 5px;
  color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @color4;
  color: @cc-bg;
}

.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent
}

.topbar-buttons>button {
  border: none;
  background: transparent
}

.widget-volume {
  color: @foreground;
}
